.button {
    width: 50%;
    height: 50%;
    position: absolute;
    text-align: center;
    font-size: 5vw;
    line-height: 50%;
    border-width: 1px;
    border-radius: 8px;
    border-color: #000000;
    box-shadow: none;
    outline: none;
    border: none;
}

.top-left {
    top: 0;
    left: 0;
    clip-path: polygon(1% 1%, 99% 1%, 99% 39%, 39% 99%, 1% 99%);
    background-color: #EF9A53;
}

.top-right {
    top: 0;
    right: 0;
    clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 61% 99%, 1% 39%);
    background-color: chartreuse;
}

.bottom-left {
    bottom: 0;
    left: 0;
    clip-path: polygon(1% 1%, 39% 1%, 99% 61%, 99% 99%, 1% 99%);
    background-color: #DD4A48;
}

.bottom-right {
    bottom: 0;
    right: 0;
    clip-path: polygon(61% 1%, 99% 1%, 99% 99%, 1% 99%, 1% 61%);
    background-color: #445069;
}

.center {
    top: 20.5%;
    left: 20.5%;
    background-color:#8A2BE2;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 59%;
    height: 59%;
}

.active {
    color: #000000;
}

.inactive {
    background-color: #D6CECC;
    filter: invert(100%);
}

.image-top-left{
    width: 20vw;
}

.image-top-right{
    width: 28vw;
}

.image-bottom-left{
    width: 18vw;
}

.image-bottom-right{
    width: 20vw;
}

.image-center{
    width: 26vw;
}