.InfoBody{
    background-color: #0F3057;
    margin-top: -3%;
    height: 160vh;
}

.InfoInformation{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.InfoH1{
    font-size: 12vw;
    margin-top: 12  px;
    color: #ffffff;
}

.InfoP{
    font-size: 10vw;
    margin-bottom: 90%;
    text-align: justify;
    color: #ffffff;
    margin-left: 4%;
    margin-right: 4%;
}

.InfoGoBackContainer {
    display: flex;
    position: fixed;
    border: none;
    bottom: 10px;
    width: 96%;
    padding: 5px;
    background-color: #FBD85D;
    border-radius: 10px;
}

.InfoGoBack {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    border: none;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 150px;
    color: #0F3057;
}

.InfoButtonContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}