.MapsBody{
   margin-top: -3%;
   background-color: #4F091D;
   height: 100vh;
}

.MapsInformation{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

.MapsH1{
   font-size: 15vw;
   margin-top: 12px;
   color:#F0F0F0;
}

.MapsContainer {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   width: 96%;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px 20px;
   background-color: #97BFB4;
   border-radius: 10px;
   border: none;
 }

.MapsButton {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12vw;
   width: 96%;
   margin-top: 8%;
   margin-left: 2%;
   margin-right: 2%;
   height: 75ps;
   color: #4F091D;
}

.DestinazioneContainer{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   width: 96%;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 2%;
   padding: 10px 20px;
   background-color: #F0F0F0;
   border-radius: 10px;
   border: none;
}


.FineDestinazioneContainer{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   width: 96%;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px 20px;
   background-color: #CCB966;
   border-radius: 10px;
   border: none;
}

.DestinazioneButton{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12vw;
   width: 96%;
   margin-top: 8%;
   margin-left: 2%;
   margin-right: 2%;
   height: 75ps;
}

.DestinazioneText{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   box-sizing: border-box;
   width: 95%;
   height: 10%;
   top: 33%;
   margin: 2%;
   background-color: #000000;
   border-radius: 10px;
   border: 5px #F0F0F0;
   font-size: 8vw;
   color: #F0F0F0;
}

.MapsGoBackContainer{
   display: flex;
   position: fixed;
   border: none;
   bottom: 12px; /*2px in piu di voice*/
   width: 96%;
   padding: 5px;
   background-color: #F5EEDC;
   border-radius: 10px;
}

.MapsGoBack{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12vw;
   border: none;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
   height: 150px;
   color: #4F091D;
}

.MapsButtonContainer {
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}