.MapsBody{
   margin-top: -2%;
   background-color: #3C486B;
   height: 100vh;
}

.information{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

h1{
   font-size: 12vw;
   margin-top: 0px;
   color:#F0F0F0;
}

.MapsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 96%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #F0F0F0;
    border-radius: 10px;
 }

.MapsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C486B;
    font-size: 10vw;
    border: none;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 100px;
}

.GoBackContainerMaps{
   display: flex;
   position: fixed;
   border: none;
   bottom: 10px;
   width: 96%;
   padding: 5px;
   background-color: #F9D949;
   border-radius: 10px;
 }

.GoBackMaps{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #3C486B;
   font-size: 12vw;
   border: none;
   border-radius: 12px;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
   height: 150px;
}

.ButtonContainer {
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}