.information{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

p{
   font-size: 10vw;
   margin-bottom: 10%;
}

h1{
   font-size: 12vw;
   margin-top: -10px;
}

.StartContainer{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position:left;
   width: 30%;
   padding: 5px;
   background-color: #56f000;
   border-radius: 10px;
   display: inline-block;
   margin-left: 1%;
   margin-right: 1%;
   margin-top: -25px;
}

.Start{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   font-size: 8vw;
   border: none;
   border-radius: 4px;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   height: 80px;
   flex-grow: 1;
}

.StopContainer{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position:center;
   width: 30%;
   padding: 5px;
   background-color: #ff0000;
   border-radius: 10px;
   display: inline-block;
   margin-left: 1%;
   margin-right: 1%;
   margin-top: -25px;
}

.Stop{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   font-size: 8vw;
   border: none;
   border-radius: 4px;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   height: 80px;
   flex-grow: 1;
}

.ResetContainer{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position:right;
   width: 30%;
   padding: 5px;
   background-color: #3750f0;
   border-radius: 10px;
   display: inline-block;
   margin-left: 1%;
   margin-right: 1%;
   margin-top: -25px;
}

.Reset{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   font-size: 8vw;
   border: none;
   border-radius: 4px;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   height: 80px;
   flex-grow: 1;
}

.GoBackContainer {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: fixed;
   bottom: 10px;
   width: 96%;
   padding: 5px;
   background-color: #9B37F2;
   border-radius: 10px;
}

.GoBack {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   font-size: 7vw;
   border: none;
   border-radius: 12px;
   width: 96%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
   height: 150px;
}

.ButtonContainer {
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}