.VoiceBody{
    margin-top: -2%;
    background-color: #252B48;
    height: 100vh;
}

.VoiceInformation{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
.VoiceH1{
   font-size: 12vw;
   margin-top: 10px;
   margin-bottom: 5%;
   color:#ffffff;
}

.VoiceRiga1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10%;
    margin-bottom: -5%;
    color:#252B48;
    height: 25%;
}

.VoiceP{
    font-size: 8vw;
    margin: 0%;
    text-align: left;
    justify-content: center;
    color:#ffffff;
    margin-left: 1%;
    margin-right: 1%;
}
 
.CommandContainer{
    display: flex;
    position: center;
    justify-content: center; 
    align-items: center;
    border: none;
    width: 50%;
    margin-left: 10%;
    margin-right: 2%;
    height: 40%;
    padding: 5px;
    background-color: #C45B3D;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
 }
 
 .Command{
    position: center;
    width: 80%;
    height: 20%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 6vw;
    color: #ffffff;
 }

.PopUpContainer{
    position: fixed; /* Posiziona il modale in modo fisso rispetto alla finestra del browser */
    background-color: #C45B3D;
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 90%;
    padding: 5px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border: 2px solid #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.PopUpTitle{
    font-size: 9vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    color:#ffffff;
}

.PopUpUl{
    margin-bottom: 5%;
    margin-top: -5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 56%;
    flex-direction: column;
}

.PopUpLi{
    font-size: 10vw;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: right;
    display: flex;
    justify-content: left;
    width: 90%;
    height: 50%;
    color:#ffffff;
    
}

.PopUpText{
   font-size: 6vw;
   margin-bottom: 2%;
   margin-top: 2%;
   text-align: center;
   display: flex;
   width: 90%;
   height: 90%;
   color:#ffffff;
}
 
.CloseContainer{
   display: flex;
   position: center;
   justify-content: center;
   align-items: flex-end;
   border: none;
   width: 90%;
   margin-left: 10%;
   margin-right: 10%;
   height: 40%;
   padding: 5px;
   background-color: #F7E987;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-top: 5%;
}

.Close {
   position: center;
   position: center;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   height: 100%;
   padding: 5px;
   border-radius: 10px;
   display: flex;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   margin-bottom: 2%;
   font-size: 10vw;
   color: #252B48;
}

.StartContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:left;
    width: 96%;
    height: 22vh;
    padding: 5px;
    border: none;
    background-color: #5B9A8B;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -5px;
    margin-bottom: 5%;
}
 
.Start{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    border: none;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 100px;
    flex-grow: 1;
    color:#ffffff;
}
 
.StopContainer{
    display: flex;
    border: none;
    justify-content: center;
    align-items: flex-end;
    position:center;
    width: 96%;
    padding: 5px;
    background-color: #8B2635;
    border-radius: 10px;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -5px;
    margin-bottom: 5%;

}
 
.Stop{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    border: none;
    width: 96%;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    height: 75px;
    flex-grow: 1;
    color:#ffffff;
}
  
.VoiceGoBackContainer {
    display: flex;
    position: fixed;
    border: none;
    bottom: 10px;
    width: 96%;
    padding: 5px;
    background-color: #F7E987;
    border-radius: 10px;
    z-index: 1;
}
 
.VoiceGoBack {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    border: none;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 150px;
    color:#252B48;
}
 
.VoiceButtonContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}