.information{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 10vw;
    margin-bottom: 40%;
}

h1{
    font-size: 12vw;
    margin-top: -10px;
}

.GoBackContainer {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    position: fixed;
    bottom: 10px;
    width: 96%;
    padding: 5px;
    background-color: #9B37F2;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.GoBack {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 7vw;
    border: none;
    border-radius: 12px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 150px;
}
/*
.ButtonContainer {
    margin-top: 0;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/